body {
  display: flex;
  width: 98vw;
  height: 98vh;
  flex-wrap: wrap;
  box-sizing: border-box;
  background-color: rgb(184, 178, 178);
  justify-content: space-between;
  align-items: center;
  font-family: "Consolas", sans-serif;
}

.forminputs {
  margin-bottom: 2rem;
}

/* Styles for contact us form*/
input[type="number"],
select,
textarea {
  height: 3rem;
  margin: 0 auto;
  width: 95%;
  padding: 12px;
  border: 1px solid #304e7e;
  margin-top: 6px;
  margin-bottom: 3rem;
  resize: vertical;
  font-size: 2rem;
  color: #304e7e;
}

label {
  font-size: 1.25rem;
}

textarea {
  height: 5rem;
  max-height: 8rem;
  min-height: 4rem;
}

.form-btn {
  background-color: #90d1ff;
  border: 2px solid #304e7e;
  color: black;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 1rem;
  margin: auto;
}

#clear-btn {
  float: right;
  opacity: 0.3;
  cursor: not-allowed;
}

#clear-btn:hover {
  background-color: #77c7ff;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #77c7ff;
}

/* Add a background color and some padding around the form */
#compoundCalcApp {
  background-color: #f2f2f2;
  padding: 20px;
  width: 70ch;
  height: 75ch !important;
  margin-bottom: 2rem;
}

.box {
  margin-left: 2rem;
  margin-right: 2rem;
  height: 90ch !important;
  border: 1px solid black;
  margin: 0 auto;
}

.compoundGrowthChart {
  width: 60%;
  background-color: white;
  opacity: 0.4;
}

#summary {
  padding: 1rem;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;
}

.subtext {
  text-align: center;
}

#summary div h2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#summary div {
  margin: 0 auto;
}

@media only screen and (max-width: 715px) {
  #compoundCalcApp {
    width: 40ch;
  }
  #compoundGrowthChart {
    width: 40ch !important;
  }
  .compoundGrowthChart {
    width: 40ch !important;
    height: 75% !important;
  }
}
