body {
  display: flex;
  width: 98vw;
  height: 98vh;
  flex-wrap: wrap;
  box-sizing: border-box;
  background-color: grey;
  justify-content: space-between;
  align-items: center;
}

.forminputs {
  margin-bottom: 2rem;
}

/* Styles for contact us form*/
input[type="number"],
select,
textarea {
  height: 3rem;
  margin: 0 auto;
  width: 95%;
  padding: 12px;
  border: 1px solid #304e7e;
  margin-top: 6px;
  margin-bottom: 3rem;
  resize: vertical;
  font-size: 2rem;
  color: #304e7e;
}

label {
  font-size: 1.25rem;
}

textarea {
  height: 5rem;
  max-height: 8rem;
  min-height: 4rem;
}

#submit-btn {
  background-color: #90d1ff;
  border: 2px solid #304e7e;
  color: black;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 1rem;
  margin: auto;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #77c7ff;
}

/* Add a background color and some padding around the form */
#exponentialCalcApp {
  background-color: #f2f2f2;
  padding: 20px;
  width: 70ch;
}

.box {
  margin-left: 2rem;
  margin-right: 2rem;
  height: 80ch !important;
  border: 1px solid black;
  margin: 0 auto;
}

.exponentialGrowthChart {
  width: 60% !important;
  background-color: white;
  opacity: 0.2;
}
